# Editor
*.swp
*~

# Virtual environment
/.ve
/venv
.env

# Bytecode
__pycache__
*.pyc

# Coverage
/.coverage
/htmlcov

# Sphinx
/docs/_build

# I18n
*.mo

# Node
node_modules
npm-debug.log

#test dbs
*.db
.vscode/launch.json
.coverage
coverage_re