# Filesystem
.DS_Store

# Editor
*.swp
*~
.vscode/launch.json

# Virtual environment
/.ve
/venv

# Bytecode
__pycache__
*.pyc

# Coverage
/.coverage
/htmlcov

# I18n
*.mo

# Environment
.env

# Documentation
/docs/_build
/schemaspy
/credere-main-*.json
/test.json
/*.egg-info
/messages.pot
