ci:
  autoupdate_schedule: quarterly
  skip: [pip-compile]
default_language_version:
    python: python3.11
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.21
    hooks:
      - id: pip-compile
        name: pip-compile requirements.in
        args: [requirements.in, -o, requirements.txt]
      - id: pip-compile
        name: pip-compile requirements_dev.in
        args: [requirements_dev.in, -o, requirements_dev.txt]
        files: ^requirements(_dev)?\.(in|txt)$
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        exclude: "(migrations|tests)/"
        additional_dependencies:
          - boto3-stubs
          - click
          - email-validator
          - fastapi
          - httpx
          - minify-html
          - mypy-boto3-cognito-idp
          - mypy-boto3-ses
          - orjson
          - pydantic
          - pydantic-settings
          - pyjwt
          - reportlab-stubs
          - sentry-sdk
          - sqlalchemy2-stubs
          - sqlmodel
          - typer
          - types-requests
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.10
    hooks:
      - id: biome-check
        additional_dependencies: ["@biomejs/biome@2.3.11"]
