alembic
boto3
botocore
click
email_validator
fastapi
httpx
minify-html
mypy-boto3-cognito-idp
mypy-boto3-ses
orjson
pandas
pydantic
pydantic-settings
pyjwt[crypto]
python-multipart
reportlab
requests
rich
sentry-sdk[fastapi]
sqlalchemy[postgresql]
sqlmodel
transifex-python
typer
uvicorn==0.22.0
