-r requirements.txt
botocore
boto3-stubs
coveralls
moto[cognitoidp]
mypy
pandas-stubs
py-html-checker
pytest
pytest-cov
pytest-mock
pytest-random-order
reportlab-stubs
sqlalchemy2-stubs
types-requests
