alembic
boto3
botocore
fastapi
httpx
jose
pydantic
python-dotenv
python-jose
python-multipart
reportlab
requests
sentry-sdk[fastapi]
sqlalchemy[postgresql]
sqlmodel
transifex-python
typer[all]
uvicorn==0.22.0
