alembic
boto3
botocore
email_validator
fastapi
httpx
mypy-boto3-cognito-idp
mypy-boto3-ses
pandas
pydantic
pydantic-settings
pyjwt[crypto]
python-multipart
reportlab
requests
sentry-sdk[fastapi]
sqlalchemy[postgresql]
sqlmodel
transifex-python
typer[all]
typing-extensions
uvicorn==0.22.0
