body {
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
}

header {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: static;
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    --tw-bg-opacity: 1;
    background-color: rgb(68 68 68 / var(--tw-bg-opacity));
    font-weight: 400;
    margin-bottom: .5rem;
    margin-right: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.header-container {
    padding-left: 5rem;
    padding-right: 5rem;
}

.header-inner {
    min-height: 64px;
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
}

.logo-container {
    align-items: flex-end;
    flex-direction: row;
    display: flex;
}

.logo-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.supported-by-container {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    display: flex;
    margin-left: 1.25rem;
    padding-right: 1.25rem;
}

.supported-by-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 400;
    margin-right: 1.5rem;
}

.strive-logo {
    width: 160px;
    justify-self: end;
}

.content {
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 50%;
}
