name: Deploy
on:
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types:
      - completed
jobs:
  docker:
    uses: open-contracting/.github/.github/workflows/docker-double.yml@main
    permissions:
      packages: write
